<% if notice.present? %>

    <div class="alert alert-primary" role="alert">
    <%= notice %>
    </div>

<% end %>


<%= form_tag(loans_path) do  %>
    <%= label_tag 'books', "Libros"%>
    <%= select_tag "books", options_from_collection_for_select(@books, "id", "title") %>

    <%= label_tag 'state_book', "Acción"%>
    <select name="state_book">
        <option value="0">Devolucion</option>
        <option value="1">Prestamo</option>
    </select>
    
    <%= label_tag 'date_loans', "Fecha"%>
    <%= datetime_field_tag 'date_loans' , "#{Time.now.strftime("%Y-%m-%d")}T#{Time.now.strftime("%H:%M")}"%>

    <%= label_tag 'user_name', "Nombre"%>
    <%= text_field_tag 'user_name' , nil , required: true %>

    <%= submit_tag("Guardar") %>

<% end %>



<%= render 'index' %>
